<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <broker>
        <host>localhost</host>
        <port>1883</port>
        <username>admin</username>
        <password>password</password>
    </broker>

    <default-broker>
        <host>localhost</host>
        <port>1883</port>
    </default-broker>

</configuration>